/* 清除所有盒子的内外边距 */
* {
    margin: 0;
    padding: 0;
}
/* 让所有斜体不倾斜 */
i,
em {
    font-style: normal;
}
li {
    list-style: none;
}
img {
    /* 照顾低版本浏览器，如果图片外部是链接标签，会有边框的问题 */
    border: 0;
    /* 清除图片下方空白间隙的问题 */
    vertical-align: middle;
}
button {
    /* 当鼠标经过button按钮的时候，鼠标样式变成小手 */
    cursor: pointer;
}
a {
    color: #666;
    text-decoration: none;
}
a:hover {
    color: #c81623;
}
button,input {
    font-family: "Microsoft YaHei",
        "Heiti SC",
        tahoma,
        arial,
        Hiragino Sans GB,
        arial,
        sans-serif;
}
body {
    /* 抗锯齿性，让文字放大后显示更加清晰 */
    -webkit-font-smoothing: antialiased;
    background-color: #fff;
    font: 12px/1.5 "Microsoft YaHei", "Heiti SC", tahoma, arial, Hiragino Sans GB, sans-serif;
    color: #666;
}
/* 元素隐藏 */
.hide,
.none {
    display: none;
}
/* 清除浮动 */
.clearfix:after {
    visibility: hidden;
    content: "";
    display: block;
    height: 0;
    clear: both;
}
.clearfix {
    *zoom: 1;
}

